{% extends 'base.html' %}

{% block title %}个人资料{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
            {% if user.is_authenticated %}
                <div class="card rounded-0 px-3 px-lg-4">
                <div class="card-header text-center bg-white py-2"><h3 class="my-1 text-info">个人资料</h3></div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item text-center border-0" id="profile-avatar">



                        </li>
                        <li class="list-group-item ml-5 border-0">
                            <span class="font-weight-bold">昵称：</span>
                            <span>{{ user.get_nickname }}</span>
                        </li>
                        <li class="list-group-item ml-5 border-0">
                            <span class="font-weight-bold">邮&emsp;箱：</span>
                            <span>{% if user.email %}{{ user.email }}{% else %}未绑定 <a href="{% url 'bind_email' %}?from={{ request.get_full_path }}">绑定邮箱</a>{% endif %}</span>
                        </li>
                        <li class="list-group-item ml-5 border-0">
                            <span class="font-weight-bold">上一次登录的时间：</span>
                            <span>{{ user.last_login|date:"Y-m-d H:i:s" }}</span>
                        </li>
                    </ul>
                    <div class="text-center mb-3" id="social-login">
                    <div class="more-link mt-3">
                        <a class="btn btn-info btn-sm rounded-0 mx-3" href="{% url 'change_nickname' %}?from={{ request.get_full_path }}">修改昵称</a>
                        <a class="btn btn-info btn-sm rounded-0 mx-3" href="{% url 'change_password' %}">修改密码</a>
                    </div>
                    </div>

           {% else %}
              <span>未登录，跳转到首页...</span>
              <script type="text/javascript">
                        window.location.href = '/';
                </script>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}